<launch>

	<!-- DESIRED UAV -->
<!-- -->
	<node name="desired_uav" pkg="desired_uav" type="desired_uav_node" launch-prefix="screen" >
		<rosparam file="$(find desired_uav)/parameter.yaml"/>
	</node>	

	<!-- MULTI SENSOR FUSION -->
<!-- -->
	<node name="multi_sensor_fusion" pkg="multi_sensor_fusion" type="multi_sensor_fusion" launch-prefix="screen" >
	</node>	


	<!-- VISION POSE ADAPTER -->

	<node name="vision_pose_adapter_1" pkg="vision_pose_adapter" type="vision_pose_adapter" launch-prefix="screen" >
		<rosparam file="$(find vision_pose_adapter)/estimator_param.yaml"/>
		<param name="vicon_use" value="0" />
		<param name="slam_use" value="0" />

		<remap from="/vision_pose_adapter/vicon_use" to="/vision_pose_adapter_1/vicon_use"/>

		<remap from="/mavros/odar/init_pose" to="/mavros_1/odar/init_pose"/>
		<remap from="/mavros/vision_pose/pose" to="/mavros_1/vision_pose/pose"/>
		<remap from="/vision_pose_adapter/vicon/framed_pose" to="/vision_pose_adapter_1/vicon/framed_pose"/>

		<remap from="/mavros/local_position/pose" to="/mavros_1/local_position/pose"/>
		<remap from="/mavros/local_position/velocity" to="/mavros_1/local_position/velocity"/>
		<remap from="/mavros/global_position/raw/fix" to="/mavros_1/global_position/raw/fix"/>
		<remap from="/mavros/global_position/raw/sat_num" to="/mavros_1/global_position/raw/sat_num"/>
		<remap from="/vrpn_client_node/odar/pose" to="/vrpn_client_node/odar_1/pose"/>
	</node>	



	<node name="vision_pose_adapter_2" pkg="vision_pose_adapter" type="vision_pose_adapter" launch-prefix="screen" >
		<rosparam file="$(find vision_pose_adapter)/estimator_param.yaml"/>
		<param name="vicon_use" value="0" />
		<param name="slam_use" value="0" />

		<remap from="/vision_pose_adapter/vicon_use" to="/vision_pose_adapter_2/vicon_use"/>

		<remap from="/mavros/odar/init_pose" to="/mavros_2/odar/init_pose"/>
		<remap from="/mavros/vision_pose/pose" to="/mavros_2/vision_pose/pose"/>
		<remap from="/vision_pose_adapter/vicon/framed_pose" to="/vision_pose_adapter_2/vicon/framed_pose"/>

		<remap from="/mavros/local_position/pose" to="/mavros_2/local_position/pose"/>
		<remap from="/mavros/local_position/velocity" to="/mavros_2/local_position/velocity"/>
		<remap from="/mavros/global_position/raw/fix" to="/mavros_2/global_position/raw/fix"/>
		<remap from="/mavros/global_position/raw/sat_num" to="/mavros_2/global_position/raw/sat_num"/>
		<remap from="/vrpn_client_node/odar/pose" to="/vrpn_client_node/odar_2/pose"/>
	</node>	


	<!-- MAVROS -->

	<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
	<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
	<arg name="log_output" default="screen" />

	<arg name="fcu_url_1" default="/dev/ttyUSB0:921600" />
	<arg name="gcs_url_1" default="udp://:14550@127.0.0.1:14557" />
	<arg name="tgt_system_1" default="1" />
	<arg name="tgt_component_1" default="1" />

	<node pkg="mavros" type="mavros_node" name="mavros_1" output="$(arg log_output)">
		<param name="fcu_url" value="$(arg fcu_url_1)" />
		<param name="gcs_url" value="$(arg gcs_url_1)" />
		<param name="target_system_id" value="$(arg tgt_system_1)" />
		<param name="target_component_id" value="$(arg tgt_component_1)" />

		<rosparam command="load" file="$(arg pluginlists_yaml)" />
		<rosparam command="load" file="$(arg config_yaml)" />
	</node>

	<arg name="fcu_url_2" default="/dev/ttyUSB1:921600" />
	<arg name="gcs_url_2" default="udp://:14551@127.0.0.1:14558" />
	<arg name="tgt_system_2" default="2" />
	<arg name="tgt_component_2" default="2" />

	<node pkg="mavros" type="mavros_node" name="mavros_2" output="$(arg log_output)">
		<param name="fcu_url" value="$(arg fcu_url_2)" />
		<param name="gcs_url" value="$(arg gcs_url_2)" />
		<param name="target_system_id" value="$(arg tgt_system_2)" />
		<param name="target_component_id" value="$(arg tgt_component_2)" />

		<rosparam command="load" file="$(arg pluginlists_yaml)" />
		<rosparam command="load" file="$(arg config_yaml)" />
	</node>


</launch>
